body {
  background-color: #333;
  color: white;
}

#streams {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
}

.stream {
  border: 3px solid #333;
  position: relative;
}
.stream:hover {
  border: 3px solid #6441a5;
}

.stream > .btn-remove {
  position: absolute;
  top: 10px;
  left: 10px;
  visibility: hidden;
}

.stream:hover > .btn-remove {
  visibility: visible;
}