body {
  background-color: #333;
  color: white;
}

#streams {
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}

.stream {
  border: 3px solid #333;
}
.stream:hover {
  border: 3px solid #6441a5;
}